<h1>Add new Skill</h1>

<%= form_with(model: @skill, local: true) do |f| %>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.submit "Add Skill" %>     
  </div>
<% end %>