<% if @user.errors.any? %>
  <h4>The following errors preyented the user from being saved</h4>
    <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>